.second-section
    background: linear-gradient(342deg, rgba(178,152,195,1) 0%, rgba(177,140,201,0.7035189075630253) 100%)
    clip-path: polygon(8% 0, 0 0, 0 51%, 0 100%, 7% 100%, 51% 88%, 89% 100%, 100% 100%, 100% 53%, 100% 0, 93% 0, 49% 10%)
    &__cards
        max-width: 114rem
        margin: 0 auto
        padding-top: 46rem
        padding-bottom: 26rem