.menu-burger
    &__icon
        width: 25px
        height: 2px
        background: $color-black
        position: absolute
        z-index: 100
        right: 0
        top: 50%
        transform: translate(-50%, -50%)
        transition: all .2s
        &::before, &::after
            content: ''
            display: block
            width: 25px
            height: 2px
            background: $color-black
            border-radius: 100rem
            right: 0
            transform: translateY(250%)
            transition: all .2s
        &::before
            transform: translateY(-350%)
    &__background
        opacity: 0
        display: block
        position: fixed
        width: 25vw
        height: 100vh
        // background: linear-gradient(250deg,rgba($gradient-color, 1), rgba($color-pink, 1))
        background: rgba(white, 1)
        z-index: 99
        right: 0
        transform: translateX(1000px)
        transition: all .3s
        outline: black .1rem solid
        @include responde(mobile-3)
            width: 35vw
    &__foreground
        opacity: 0
        background: rgba($color-black, 0.5)
        width: 100vw
        height: 100vh
        position: fixed
        z-index: -100
        right: 0
        transition: all .4s
    &__button
        display: none
    &__label
        position: fixed
        z-index: 101
        width: 50px
        height: 50px
        border-radius: 50%
        background: rgba($color-black, 0.5)
        right: 5%
        top: 4%
    &__nav
        height: 100%
        z-index: 102
        transition: all .3s
        position: fixed
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        ul
            width: 100%
            height: 50%
            display: flex
            flex-direction: column
            justify-items: space-around
            gap: 1rem
            position: absolute
            left: 50%
            top: 40%
            transform: translate(-50%, -50%)
    &__button:checked ~ &__nav, &__button:checked ~ &__background
        opacity: 1
        transform: translateX(0)
    &__button:checked ~ &__nav, &__button:checked ~ &__foreground
        opacity: 1
        z-index: 98
    &__button:checked ~ &__label &__icon
        transform: rotate(45deg) translate(-40%, 400%)
        &::before
            transform: rotate(-90deg)
        &::after
            display: none

            
            
              

        
    